<!DOCTYPE html>
<html>
<head>
  <title>date</title>
</head>
<body>
  <h1>Today</h1>
  <% date = Time.now %>


  <p>The date is <%=date.strftime("%A")%>, <%=date.strftime("%B")%> <%=date.day%>, <%=date.year%> </p>
</body>
</html>
