<!DOCTYPE html>
<html>
    <head>
        <title>The Date</title>
    </head>
    <body>
        <h1>Today</h1>
        <% today = Time.now %>
        <p><%= "The date is " + today.strftime("%A, %B %d, %Y") %></p>
    </body>
</html>
